<%- include('header.ejs') -%>

<p><a href="/">Page d'accueil</a></p>

    <main>
      <h1><%= title %></h1>
      <form action="" method="POST">
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom" required autofocus>
      </form>
    </main>

<%- include('footer.ejs') -%>